
{% extends 'base.html' %}
{% load static %}

        {% block content %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/mentor/courseList.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mentor/chatBox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mentor/rightPart.css' %}">
        <link rel="stylesheet" href="{% static 'css/mentor/login.css' %}">
        
        <script type="text/javascript" src="{% static 'js/jQuery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mentor/m_rightPart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mentor/m_chatBox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/courseList.js' %}"></script>
        
        <!-- Side navigation -->
        <div class="sidenav">
            {% for course in courses %}
                <form method="POST">
                    {% csrf_token %}
                    <input type ="text" name="course_name"  value="{{ course }}" hidden>
                    <input type="submit" value="{{ course }}" class="course"></input>
                </form> 
            {% endfor %}
        </div>
        <p id="username" hidden>{{ username }}</p>

        <div class="chatBox" {% if not title %} hidden {% endif %}>
            <div class="groupName">
                <h3 id="groupTitle">{{ title }}</h3>
                
            </div>
            <div class="Screen" id="ChatBox">
                {% for chat in chats %}
                    {% ifchanged chat.date %}
                        <div class="dateBox">{{ chat.date }}</div>
                    {% endifchanged %}
                    {% if chat.message %}
                        <div class="textMsg">{{ chat.message }}
                            <div class="timeStamp">{{ chat.time }}</div>
                        </div>
                    {% endif %}
                    {% if chat.image %}
                        <div>
                            <img src="{{ chat.image.url }}" class="imgMsg">
                                <div class="imgTimeStamp">{{ chat.time }}</div>
                        </div>
                        
                    {% endif %}
                {% endfor %}


            </div>
            <div >
                <form id="view" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea rows="3" class="textBox"></textarea>
                    <input type="file"  class="uploadButton btn btn-outline-primary" id="upload">
                    <input type="submit" class="submitButton btn btn-success" id="submit">
                </form>
            </div>
        
        </div>

        <div class="rightPart">
            <form class="createGroup" action="{% url 'createGroup' %}">
                <input type="submit" class="btn btn-outline-success" value="Create a Group"></input>
            </form>
            <form class="createGroup" id="getDetailsForm" >
                <input type="submit" class="btn btn-outline-info" value="Get Details" id="getDetails"></input>
            </form>
            <form class="createGroup" id="doubts"  >
                <input type="submit" class="btn btn-outline-info" value="Show Doubts" id="showDoubts"></input>
            </form>
            
        </div>


        <div id="doubtModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content" id=doubtScreen></div>
        
        </div>

    {% endblock %}