{% extends 'base.html' %}
{% load static %}

        {% block content %}
        <div id="logreg-forms" style="width: 500px; margin: auto;">
            <form class="form-signin" method="post" >
                {{ message }}
              {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Change Password</h1>
                
                <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Old Password" required="" autofocus="">
                <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password" required="">
                
                <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Change</button>
                
                <br>
                <!-- <p>Don't have an account!</p>  -->
                
                <a href="../"><button class="btn btn-primary btn-block" type="button" id="btn-signup" formaction="../"><i class="fas fa-user-plus" ></i> Go Back</button></a>
            </form>
                
                
                <br>
                
        </div>

        {% endblock %}