

{% load static %}
<link rel="stylesheet" href="{% static 'css/mentor/login.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
     <body>
      <a class="navbar-brand" style=" text-align: center;"><span style="font-family: sans-serif;font-weight: bolder;font-size: xx-large;">Mentor</span><span style="font-family: sans-serif;font-weight: bolder;font-size: xx-large;color: yellowgreen;">Platform</span></a>
      <div id="logreg-forms">
        <form action="{% url 'register' %}" method="post" class="form-signup">
          {% csrf_token %}
          {{form.username}}
          
          {{form.password1}}
          {{form.password2}}
          
          <ul>
            {% for message in messages%}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
          
          
          
      
          <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
          <a href="/login" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
      </form>
    </div>
  </body> 


